@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-4">
        <section class="widget">
            <header>
                <h4>
                    <i class="eicon-flag"></i>
                    Next Game
                </h4>
            </header>
            <div class="body">
                @Html.Partial("~/Views/Game/_NextGamePartial.cshtml")
            </div>
        </section>
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col-md-4">
                <section class="widget">
                    <header>
                        <h4>
                            <i class="fa fa-location-arrow"></i>
                            Join us !
                        </h4>
                    </header>
                    <div class="body">
                        <blockquote>
                            Please @Html.ActionLink("log in", "Login", "Account") or @Html.ActionLink("register", "Register", "Account") or to the Netsize World Cup 2014 !
                        </blockquote>
                    </div>
                </section>
            </div>
        }
    </div>
    @if (ViewBag.WeatherInfo != null)
    {
        <div class="col-md-4">
            <section class="widget">
                <header>
                    <h4>
                        <i class="eicon-adjust"></i>
                        Weather in Paris
                    </h4>
                </header>
                <ul class="news-list">
                    <li>
                        <img class="pull-left img-circle" alt="" src="@ViewBag.WeatherInfo.ImageUrl.Replace("/k/", "/c/")">
                        <div class="news-item-info">
                            <div class="comment">@ViewBag.WeatherInfo.Text</div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    }
</div>
<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-8">
            @Html.Partial("~/Views/Home/_ChatPartial.cshtml")
        </div>
    }
    <div class="col-md-8">
        <section class="widget">
            <header>
                <h4>
                    <i class="eicon-share"></i>
                    Feed
                </h4>
            </header>
            <ul class="news-list">
                @foreach (var item in ViewBag.Feeds)
                {
                    <li>
                        <img class="pull-left img-circle" alt="" src="@item.ImageUrl">
                        <div class="news-item-info">
                            <div class="name">
                                <a href="@item.Url" target="_blank">@item.Title</a>
                            </div>
                            <div class="comment hidden-xs">@item.PublishedDate: @Html.Raw(item.Summary.Replace("</p>", "").Replace("<p>", ""))</div>
                        </div>
                    </li>
                }
            </ul>
        </section>
    </div>
</div>
