@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-4">
        <section class="widget">
            <header>
                <h4>
                    <i class="eicon-flag"></i>
                    Next Game
                </h4>
            </header>
            <div class="body">
                <table class="table table-condensed table-images">
                    <tbody>
                        <tr>
                            <td class="hidden-xs-portrait text-right">
                                <img src="@ViewBag.NextGame.Local.FlagUrl" style="width: 70px; height: 46px" alt="">
                            </td>
                            <td class="text-center">
                                <p>
                                    @ViewBag.NextGame.Local.DisplayName - @ViewBag.NextGame.Visitor.DisplayName
                                </p>
                                <p>
                                    @ViewBag.NextGame.WinOdd / @ViewBag.NextGame.DrawOdd / @ViewBag.NextGame.LossOdd
                                </p>
                            </td>
                            <td class="hidden-xs-portrait">
                                <img src="@ViewBag.NextGame.Visitor.FlagUrl" style="width: 70px; height: 46px" alt="">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <blockquote class="hidden-xs">@ViewBag.Test</blockquote>
            </div>
        </section>
    </div>
    @if (ViewBag.WeatherInfo != null)
    {
        <div class="col-md-4">
            <section class="widget">
                <header>
                    <h4>
                        <i class="eicon-adjust"></i>
                        Weather in Paris
                    </h4>
                </header>
                <ul class="news-list">
                    <li>
                        <img class="pull-left img-circle" alt="" src="@ViewBag.WeatherInfo.ImageUrl.Replace("/k/", "/c/")">
                        <div class="news-item-info">
                            <div class="comment">@ViewBag.WeatherInfo.Text</div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-10">
        <section class="widget">
            <header>
                <h4>
                    <i class="eicon-share"></i>
                    Feed
                </h4>
            </header>
            <ul class="news-list">
                @foreach (var item in ViewBag.Feeds)
                {
                    <li>
                        <img class="pull-left img-circle" alt="" src="@item.ImageUrl">
                        <div class="news-item-info">
                            <div class="name">
                                <a href="@item.Url" target="_blank">@item.Title</a>
                            </div>
                            <div class="comment hidden-xs">@item.PublishedDate: @Html.Raw(item.Summary.Replace("</p>", "").Replace("<p>", ""))</div>
                        </div>
                    </li>
                }
            </ul>
        </section>
    </div>
</div>