@{
    ViewBag.Title = "Rules";
}

<div class="row">
    <div class="col-md-6">
        <section class="widget">
            <header>
                <h4>
                    <i class="eicon-flag"></i>
                    Rules
                </h4>
            </header>
            <div class="body">
                <blockquote>
                    <ol class="list-group">
                        <li class="list-group-item">1. There is no real money to win :)</li>
                        <li class="list-group-item">2. This is a classic 1 X 2 - Local wins, Draw, Visitor wins.</li>
                        <li class="list-group-item">3. We consider the results at 90 (or 120 minutes if applicable) for direct elimination phases - otherwise there would be no draw :p</li>
                        <li class="list-group-item">4. You can place your bet until the game starts. We manage timezones so don't worry about that.</li>
                        <li class="list-group-item">5. Odds are downloaded from betclic and will move until the game starts.</li>
                        <li class="list-group-item">6. Finding the correct result will reward you :<ul><li>Current odd x @((10).ToString("c")) for group phase</li><li>Current odd x @((20).ToString("c")) for round of 16, quarter and semi-final games</li><li>Current odd x @((40).ToString("c")) for final games (both of them)</li></ul></li>
                        <li class="list-group-item">7. Example: You played  "1 - Local Wins" with Odd = 3 - Local effectively wins - you get @((30).ToString("c")). For a game of round of 16, you would have received @((60).ToString("c")), for the final, you would have received @((120).ToString("c"))</li>
                        <li class="list-group-item">8. Amount will be displayed in your currency (if language properly selected in your browser). There is no exchange rate to apply.</li>
                        <li class="list-group-item">9. Final Winner will be the one with the most money displayed in the @Html.ActionLink("users", "Index", "Account") page</li>
                    </ol>
                </blockquote>
            </div>
        </section>
    </div>
</div>
