@model IEnumerable<NetsizeWorldCup.Models.UserModel>

@{
    ViewBag.Title = "Players";
}

<div class="row">
    <div class="col-md-10">
        <section class="widget">
            <header>
                <h4>
                    <i class="fa fa-group"></i>
                    Players <small>Counting @Model.Count() Up to Now</small>
                </h4>
            </header>
            <div class="body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Pos.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Player)
                            </th>
                            @*<th>Mail</th>*@
                            @*<th>Country</th>*@
                            <th class="hidden-xs hidden-sm">TimeZone</th>
                            @*@<th>Daylight Saving</th>*@
                            <th class="hidden-xs">Bet Count</th>
                            <th class="hidden-xs">Gain</th>
                            <th>Wallet</th>
                        </tr>
                    </thead>
                    @{ var pos = 1; }
                    <tbody>
                        @foreach (NetsizeWorldCup.Models.UserModel item in Model)
                        {
                            <tr>
                                <td>@(pos++)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Player)
                                </td>
                                @*<td>@item.Country</td>*@
                                @*<td>@item.Email.Split('@')[0]</td>*@
                                <td class="hidden-xs hidden-sm"><small>@item.TimeZoneInfo.DisplayName</small></td>
                                @*<td>@(item.TimeZoneInfo.IsDaylightSavingTime(DateTime.Now)?"Yes":"No")</td>*@
                                
                                <td class="hidden-xs">@item.BetCount</td>
                                <td class="hidden-xs">@((item.Score - (10 * Math.Min(item.BetCount, (int)ViewBag.GamesPlayedCount))).ToString("C2"))</td>
                                <td>@item.Score.ToString("c")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>