@model IEnumerable<NetsizeWorldCup.Models.UserModel>

@{
    ViewBag.Title = "Players";
}

<div class="row">
    <div class="col-md-10">
        <section class="widget">
            <header>
                <h4>
                    <i class="fa fa-group"></i>
                    Users
                </h4>
            </header>
            <div class="body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th class="hidden-xs">TimeZone</th>
                            @*@<th>Daylight Saving</th>*@
                            <th>Score</th>
                            <th>Bet Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NetsizeWorldCup.Models.UserModel item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td class="hidden-xs"><small>@item.TimeZoneInfo.DisplayName</small></td>
                                @*<td>@(item.TimeZoneInfo.IsDaylightSavingTime(DateTime.Now)?"Yes":"No")</td>*@
                                <td>@item.Score.ToString("c")</td>
                                <td>@item.BetCount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>