@using NetsizeWorldCup.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-7">
        <section class="widget">

            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            {
                @Html.Partial("_SetPasswordPartial")
            }
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <section class="widget">
            @Html.Partial("_ManageAccountPartial", ViewData["ChangeSettingsModel"])
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
