@using NetsizeWorldCup;

@if (ViewBag.NextGame != null)
{
    <div class="col-md-4">
        @{
            string result = string.Empty;
            DateTime dt = (DateTime)ViewBag.NextGame.StartDate;
            TimeZoneInfo tzi = (TimeZoneInfo)ViewBag.CurrentTimeZoneInfo;

            if (dt.DayOfYear == DateTime.UtcNow.DayOfYear)
            {
                result = TimeZoneInfo.ConvertTimeFromUtc(dt, tzi).ToShortTimeString();
            }
            else
            {
                result = TimeZoneInfo.ConvertTimeFromUtc(dt, tzi).ToShortDateString();
            }
        }
        <section class="widget">
            <header>
                <h4>
                    <i class="eicon-flag"></i>
                    Next Game <small>@result</small>
                </h4>
            </header>
            <div class="body">
                <table class="table table-condensed table-images">
                    <tbody>
                        <tr>
                            <td class="hidden-xs-portrait text-right">
                                <span class="team-flag @ViewBag.NextGame.Local.FlagUrl"></span>
                            </td>
                            <td class="text-center">
                                <p>
                                    @ViewBag.NextGame.Local.DisplayName - @ViewBag.NextGame.Visitor.DisplayName
                                </p>
                                <p>
                                    @ViewBag.NextGame.WinOdd | @ViewBag.NextGame.DrawOdd | @ViewBag.NextGame.LossOdd
                                </p>
                            </td>
                            <td class="hidden-xs-portrait">
                                <span class="team-flag @ViewBag.NextGame.Visitor.FlagUrl"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <blockquote><p>Current TimeZone: @ViewBag.CurrentTimeZoneInfo.DisplayName</p><p>Current Culture: @NetsizeWorldCup.Controllers.InternationalizationAttribute.ResolveCulture().DisplayName</p><p>Go to the @Html.ActionLink("games section", "Index", "Game") to place your bet</p></blockquote>
            </div>
        </section>
    </div>
}