@model IEnumerable<NetsizeWorldCup.Game>

@{
    ViewBag.Title = "Games";
}

<div class="col-md-10 col-sm-8">
    <section class="widget">
        <header>
            <h4>
                <i class="fa fa-file-alt"></i>
                Current Games
            </h4>
            <div class="actions hidden-xs-portrait">
                <input id="search" type="search" placeholder="Search">
            </div>
        </header>
        <div class="body">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="hidden-xs-portrait">#</th>
                        <th class="hidden-xs-portrait">Date</th>
                        <th class="hidden-xs-portrait"></th>
                        <th class="text-right">Local</th>
                        <th class="text-center">Result</th>
                        <th>Visitor</th>
                        <th class="hidden-xs-portrait"></th>
                        <th class="hidden-xs-portrait">Location</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="hidden-xs-portrait" style="vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td class="hidden-xs-portrait" style="vertical-align: middle">
                                @item.StartDate.UtcToLocal((TimeZoneInfo)ViewBag.CurrentTimeZoneInfo).ToShortDateString() @item.StartDate.UtcToLocal((TimeZoneInfo)ViewBag.CurrentTimeZoneInfo).ToShortTimeString()
                                @*@Html.DisplayFor(modelItem => item.StartDate)*@
                            </td>
                            <td class="text-right hidden-xs-portrait" style="vertical-align: middle">
                                <img src="@item.Local.FlagUrl" style="box-shadow: 0px 0px 10px #888;border-radius: 5px;" />
                            </td>
                            <td class="text-right" style="vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.Local.Name)
                            </td>
                            <td class="text-center" style="vertical-align: middle">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-success">
                                        <input type="radio" name="options" id="option1" onclick="return SetBet(@item.ID, 1)">@item.WinOdd
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="radio" name="options" id="option2" onclick="return SetBet(@item.ID, 2)">@item.DrawOdd
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="radio" name="options" id="option3" onclick="return SetBet(@item.ID, 3)">@item.LossOdd
                                    </label>
                                </div>
                            </td>
                            <td style="vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.Visitor.Name)
                                </td>
                            <td class="hidden-xs-portrait" style="vertical-align: middle">
                                <img src="@item.Visitor.FlagUrl" style="box-shadow: 0px 0px 10px #888;border-radius: 5px;" />
                            </td>
                            <td class="hidden-xs-portrait" style="vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
</tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>

@section Scripts
{
    <script language="javascript">
        function SetBet(gameId, result) {
            $.post("Bet/Place", { GameId: gameId, Result: result },
                function () { alert("success 1"); })
            .done(function () { alert("success 2"); })
            .fail(function () { alert("error"); });
        }
    </script>
}