@model IEnumerable<NetsizeWorldCup.Game>

@{
    ViewBag.Title = "Games";
}

<div class="col-md-12 col-sm-12">
    <section class="widget">
        <header>
            <h4>
                <i class="fa fa-file-alt"></i>
                Current Games
            </h4>
        </header>
        <div class="body">
            <blockquote>You can bet on the next games to be played - This is a classic 1 X 2 (Local, Draw, Visitor) - Odds are downloaded from betclic</blockquote>
            <table class="table table-hover table-condensed table-images">
                <thead>
                    <tr>
                        <th class="hidden-md hidden-sm hidden-xs">#</th>
                        <th class="hidden-md hidden-sm hidden-xs">Date</th>
                        <th class="hidden-md hidden-sm hidden-xs"></th>
                        <th class="text-center">Result</th>
                        <th class="hidden-md hidden-sm hidden-xs"></th>
                        <th class="hidden-md hidden-sm hidden-xs">Location</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="hidden-md hidden-sm hidden-xs" style="vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td class="hidden-md hidden-sm hidden-xs" style="vertical-align: middle">
                                @item.StartDate.UtcToLocal((TimeZoneInfo)ViewBag.CurrentTimeZoneInfo).ToShortDateString() @item.StartDate.UtcToLocal((TimeZoneInfo)ViewBag.CurrentTimeZoneInfo).ToShortTimeString()
                            </td>
                            <td class="text-right hidden-md hidden-sm hidden-xs" style="vertical-align: middle">
                                <img src="@item.Local.FlagUrl" style="box-shadow: 0px 0px 10px #888;border-radius: 5px;width:70px;height:46px" />
                            </td>
                            <td class="text-center" style="vertical-align: middle">
                                <div>@Html.DisplayFor(modelItem => item.Local.Name) - @Html.DisplayFor(modelItem => item.Visitor.Name)</div>
                                <div class="btn-group nowrap" data-toggle="buttons">
                                    <label class="@(ViewBag.UserBets != null && ViewBag.UserBets.Contains(item.ID + "_" + 1) ? "btn btn-danger active" : "btn btn-success")" onclick="return SetBet(@item.ID, 1)" id="btnbet_1_@item.ID">
                                        @item.WinOdd
                                    </label>
                                    <label class="@(ViewBag.UserBets != null && ViewBag.UserBets.Contains(item.ID + "_" + 2) ? "btn btn-danger active" : "btn btn-success")" onclick="return SetBet(@item.ID, 2)" id="btnbet_2_@item.ID">
                                        @item.DrawOdd
                                    </label>
                                    <label class="@(ViewBag.UserBets != null && ViewBag.UserBets.Contains(item.ID + "_" + 3) ? "btn btn-danger active" : "btn btn-success")" onclick="return SetBet(@item.ID, 3)" id="btnbet_3_@item.ID">
                                        @item.LossOdd
                                    </label>
                                </div>
                            </td>
                            <td class="hidden-md hidden-sm hidden-xs" style="vertical-align: middle">
                                <img src="@item.Visitor.FlagUrl" style="box-shadow: 0px 0px 10px #888;border-radius: 5px;width:70px;height:46px" />
                            </td>
                            <td class="hidden-md hidden-sm hidden-xs" style="vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>